:root {
    --gridSize: min(25vh, 25vw);
}

body {
    background-color: #232020;
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


#grid {
    display: grid;
    grid-template: repeat(3, var(--gridSize)) / repeat(3, var(--gridSize));
}

.gridCell {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 5%;
    padding: 5%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--gridSize) / 8);
    background-color: #393836;
    color: #fff;
    border-radius: 20%;
    cursor: pointer;
    user-select: none;
    transition: 
        all 0.3s ease-out,
        font-size 0s;
}

.selected {
    background-color: #f7f7f7;
    color: #000;
    cursor: default;
}

.given {
    background-color: #2a2727;
    color: #fff;
    cursor: default;
    border-radius: 30%;
}

.highlight {
    background-color: #b6a45d;
    color: #fff;
    cursor: pointer;
}

.highlight:not(.given) {
    border-radius: 100%;
}

.error {
    background-color: #c44141;
    color: #fff;
    cursor: default;
}


button {
    background-color: #393836;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


@media screen and (orientation: portrait) {
    body {
        margin-top: calc(var(--gridSize) / 2);
        justify-content: flex-start;
        transition: all 0.3s ease-out;
    }
    
}